@import "/src/styles/color.css";

.title {
  font-size: 1.3rem;
  color: var(--tertiary);
  font-variant: small-caps;
  text-shadow: 1px 1px 2px var(--highlight);
}
.icons {
  color: var(--highlight);
  font-size: 1.2rem;
}
.info__element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--headline);
}
.separation {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.separation__name {
  font-family: cursive;
  color: var(--tertiary);
}
.hr {
  background-color: var(--tertiary);
  height: 0.1rem;
  width: 100%;
}
